logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
build/Release
node_modules
Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
ant-build
ant-gen

# see https://intellij-support.jetbrains.com/entries/23393067
.idea/gradle.xml
.idea/dictionaries/*.xml
.idea/watcherTasks.xml
.idea/workspace.xml
.idea/runConfigurations/*.xml
.idea/misc.xml
src/MobileClient/platforms/android/res/drawable-hdpi/ic_action_next_item.png
src/MobileClient/platforms/android/res/drawable-hdpi/ic_action_previous_item.png
src/MobileClient/platforms/android/res/drawable-hdpi/ic_action_remove.png
src/MobileClient/platforms/android/res/drawable-mdpi/ic_action_next_item.png
src/MobileClient/platforms/android/res/drawable-mdpi/ic_action_previous_item.png
src/MobileClient/platforms/android/res/drawable-mdpi/ic_action_remove.png
src/MobileClient/platforms/android/res/drawable-xhdpi/ic_action_next_item.png
src/MobileClient/platforms/android/res/drawable-xhdpi/ic_action_previous_item.png
src/MobileClient/platforms/android/res/drawable-xhdpi/ic_action_remove.png
src/MobileClient/platforms/android/res/drawable-xxhdpi/ic_action_next_item.png
src/MobileClient/platforms/android/res/drawable-xxhdpi/ic_action_previous_item.png
src/MobileClient/platforms/android/res/drawable-xxhdpi/ic_action_remove.png
src/MobileClient/platforms/android/src/com/ionic/keyboard/IonicKeyboard.java
src/MobileClient/platforms/android/src/org/apache/cordova/device/Device.java
src/MobileClient/platforms/android/src/org/apache/cordova/inappbrowser/InAppBrowser.java
src/MobileClient/platforms/android/src/org/apache/cordova/inappbrowser/InAppBrowserDialog.java
src/MobileClient/platforms/android/src/org/apache/cordova/inappbrowser/InAppChromeClient.java
