<div class="modal">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Create Debt</h1>
        <button class="button button-clear button-primary" ng-click="closeCreateDebtModal()">Close</button>
    </ion-header-bar>
    <ion-content class="has-header">
        <label class="item item-input">
            <span class="input-label">Amount</span>
            <input ng-init="amount=0.0" type="number" ng-model="amount">
        </label>

        <label class="item item-input">
            <span class="input-label">Description</span>
            <input ng-init="description=''" placeholder="none" type="text" ng-model="description">
        </label>
        <!-- <li class="item item-toggle">
            I'm also {{ owingMoney ? 'paying' : 'receiving' }}
            <label class="toggle toggle-assertive">
                <input type="checkbox" ng-model="alsoPaying">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li> -->
        <div class="card">
            <div class="item item-text-wrap">
                {{ owingMoney ? 'I owe a total of ' : 'I\'m owed a total of ' }}
                {{ amount.toFixed(2) | currency: user.currency }}
                {{ owingMoney ? ' to:' : ' by:' }}
            </div>
        </div>
        <ion-list can-swipe="true" show-delete="canRemoveIsChecked()">
            <ion-item ng-repeat="friend in friends | filter: { isChecked:true }"
                      class="item-avatar-left item-icon-right">
                <img ng-src="{{friend.avatar}}">

                <h2>{{friend.id}}</h2>

                <h3><i>{{(amount / countCheckedPayingFriends()).toFixed(2) | currency: user.currency }}</i></h3>
                <ion-delete-button class="ion-minus-circled"
                                   ng-click="friend.isChecked = false">
                </ion-delete-button>
            </ion-item>
        </ion-list>
        <div class="bar bar-footer bar-balanced" ng-show="amount > 0 && commitStatus()">
            <div class="title">
                <button class="button button-clear button-full"
                        ng-click="commitDebts(amount,description)">Ok
                </button>
            </div>
        </div>
    </ion-content>
</div>