<ion-nav-buttons side="right">
    <button class="button button-icon icon ion-android-add-contact"
            ng-click=""></button>
    <button class="button button-icon icon ion-ios7-minus-outline"
            ng-click="data.showDelete = !data.showDelete"></button>
</ion-nav-buttons>
<ion-view title="Friends">
    <ion-header-bar class="bar-light bar-subheader">
        <input type="search"
               placeholder="Filter friends..."
               ng-model="searchText.id">
    </ion-header-bar>
    <ion-content class="has-header">
        <ion-list can-swipe="true" show-delete="data.showDelete">
            <ion-item ng-repeat="friend in friends | filter:searchText:strict" href="#/app/friends/{{friend.id}}"
                      class="item-thumbnail-left">
                <ion-option-button class="button-calm"
                                   ng-click="">
                    + Debt
                </ion-option-button>
                <img ng-src="{{friend.avatar_url}}">

                <h2>{{friend.id}}</h2>
                <ion-delete-button class="ion-minus-circled"
                                   ng-click="onFriendDelete($index)">
                </ion-delete-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>