<ion-view>
    <ion-side-menus>
        <ion-side-menu-content>
            <ion-nav-bar class="bar-positive nav-title-slide-ios7" title="Payback">
            </ion-nav-bar>
            <ion-nav-buttons side="left">
                <button class="button icon button-clear ion-navicon-round" ng-click="toggleLeft()">
                </button>
            </ion-nav-buttons>
            <ion-nav-view name="app"></ion-nav-view>
        </ion-side-menu-content>
        <ion-side-menu side="left">
            <header class="bar bar-header bar-stable bar-dark">
                <h1 class="title">Payback</h1>
            </header>
            <ion-content class="has-header" has_header="true">
                <a class="item item-thumbnail text-center" href="#">
                    <img src="http://www.gravatar.com/avatar/6d00776d10f24a30b0874918eee5ed54">
                    <p></p>
                    <h2>Duarte</h2>
                </a>
                <ion-list>
                    <ion-item nav-clear menu-close href="#/app/search">
                        Search
                    </ion-item>
                    <ion-item nav-clear menu-close href="#/app/browse">
                        Browse
                    </ion-item>
                    <ion-item nav-clear menu-close href="#/app/friends">
                        Friends
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>
</ion-view>