<ion-nav-bar class="bar-positive nav-title-slide-ios7"
             back-button-type="button-icon"
             back-button-icon="ion-ios7-arrow-back">
</ion-nav-bar>
<ion-view title="Payback">
    <ion-content>
        <div class="card">
            <div class="item text-center item-divider">
                Register a local account
            </div>
            <div class="item item-text-wrap">
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">User ID</span>
                        <input type="text" placeholder="John">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Email</span>
                        <input type="email" placeholder="john@suhr.com">
                    </label>
                    <button class="button button-block button-positive" ng-click="signup()">
                        Signup
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>