<ion-view title="{{user.id}}">
    <ion-content has-header="true" padding="true">
    
        <div class="item-thumbnail-left">
            <img ng-src="{{user.avatar}}">
            <div class="details">
                <h3>{{ user.id }}</h3>
                <p  ng-if="user.email" ><i class="icon ion-ios7-email"></i> Email: {{ user.email }}</p>                
                <h4 ng-class="(debts.balance < 0) ? 'assertive' : 'balanced'" ng-if="user.email" >{{ debts.balance }} {{ debts.currency }}</h4>
            </div>
        </div>

        <div ng-if="debts && user.email" class="list card" >
            <a class="item " ui-sref="app.debts({userId: user.id})">
                <div class=" item-icon-left" >
                    <i class="icon ion-card"></i>
                    <div class="details">
                    Debts: {{ debts.total }}
                     <br/>
                     Owed to me: <span ng-class="(debts.credit > 0) ? 'balanced' : ''"> {{ debts.credit }} {{ debts.currency }} </span>
                    <br/>
                     I owe to others:  <span ng-class="(debts.debit > 0) ? 'assertive' : ''"> {{ debts.debit }} {{ debts.currency }} </span>
                    </div>
                </div>
            </a>
        </div>
        
        <div ng-if="user" class="list card">
            <a class="item item-icon-left item-icon-right" ui-sref="app.friends({userId: user.id})"><i class="icon ion-person-stalker"></i>
            <span ng-if="!user.email">{{user.id}}'s</span>
            <span ng-if="user.email">My </span>
            friends 
            <i class="icon ion-chevron-right icon-accessory"></i></a>
        </div>
        
         <ion-list class="list" ng-if="debts.debts.length > 0">
            <ion-item ng-repeat="debt in debts.debts"  ng-click="openDebtModal(debt)"
                      class="item-icon-left ">
                           <div  ng-if="debt.debtor == currentUser.id && (debt.debtor == currentUser.id || debt.creditor == currentUser.id ) ">
                               <i  class="icon ion-arrow-down-a assertive"></i>
                                 <p>
                                     <h2><b>{{debt.value}} {{debt.currency}}</b></h2>
                                     <h3>You owe <b>{{debt.creditor}} </b> </h3>  
                                     <h4 style="font-style:italic" class="dark"> {{formatDate(debt.created)}} </h4> 
                               </p>
 
                          </div>     
                          <div  ng-if="debt.debtor != currentUser.id && (debt.debtor == currentUser.id || debt.creditor == currentUser.id )">
                                <i class="icon ion-arrow-up-a balanced "></i>
                                <p>
                                     <h2><b>{{debt.value}} {{debt.currency}}</b></h2>
                                     <h3><b>{{debt.debtor}} </b> owes you</h3>  
                                      <h4 style="font-style:italic" class="dark" >{{formatDate(debt.created)}}   </h4>
                               </p>

                          </div>  
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>