<ion-view title="{{user.id}}">
    <ion-content has-header="true" padding="true">

        <div class="item-thumbnail-left">
            <img ng-src="{{user.avatar}}">

            <div class="details">
                <h3>{{ user.id }}</h3>

                <p ng-if="user.id == currentUser.id"><i class="icon ion-ios7-email"></i> Email: {{ currentUser.email }}
                </p>
                <h4 ng-class="(debts.balance < 0) ? 'assertive' : 'balanced'" ng-if="user.id == currentUser.id">{{
                    debts.balance.toFixed(2) }} {{ currentUser.currency }}</h4>
            </div>
        </div>

        <div ng-show="!isEditing">
            <div ng-if="debts && user.id == currentUser.id" class="list card">
                <a class="item " ui-sref="app.debts({userId: user.id, initFilter:'details'})">
                    <div class=" item-icon-left">
                        <i class="icon ion-clipboard"></i>

                        <div class="details">
                            Debts: {{ countActive(debts.total) }}
                            <br/>
                            Own to me: <span ng-class="(debts.credit > 0) ? 'balanced' : ''"> {{ debts.credit.toFixed(2) }} {{ currentUser.currency }} </span>
                            <br/>
                            I owe to others: <span ng-class="(debts.debit > 0) ? 'assertive' : ''"> {{ debts.debit.toFixed(2) }} {{ currentUser.currency }} </span>
                        </div>
                    </div>
                </a>
            </div>

            <div ng-if="!debts  && currentUser.id == user.id"
                 style="text-align: center;  font-size: 90px; color: #999999;">
                <i class="icon ion-ios7-reloading"></i>
            </div>

            <div ng-if="user && debts" class="list card">
                <a class="item item-icon-left item-icon-right" ui-sref="app.friends({userId: user.id})"><i
                        class="icon ion-person-stalker"></i>
                    <span ng-if="user.id != currentUser.id">{{user.id}}'s</span>
                    <span ng-if="user.id == currentUser.id">My </span>
                    friends
                    <i class="icon ion-chevron-right icon-accessory"></i></a>
            </div>

            <div ng-if="loadingDebts  && currentUser.id != user.id"
                 style="text-align: center;  font-size: 90px; color: #999999;">
                <i class="icon ion-ios7-reloading"></i>
            </div>

            <ion-list class="list" ng-if="debts.debts.length > 0 && currentUser.id != user.id">
                <div class="item item-divider">
                    Open Debts
                </div>

                <ion-item ng-repeat="debt in debts.debts | matchTab:'':'all':user.id" ng-click="openDebt(debt.debtId)"
                          class="item-icon-left ">
                    <div ng-if="debt.debtor == currentUser.id && (debt.debtor == currentUser.id || debt.creditor == currentUser.id ) ">
                        <i class="icon ion-arrow-down-a assertive"></i>

                        <p>


                        <h3>You owe <b>{{debt.creditor}} </b></h3>
                        <h4>{{debt.description}} </h4>
                        <h4 style="font-style:italic" class="dark"> {{dateFormatter.formatDate(debt.created)}} </h4>
                        </p>

                    </div>
                    <div ng-if="debt.debtor != currentUser.id && (debt.debtor == currentUser.id || debt.creditor == currentUser.id )">
                        <i class="icon ion-arrow-up-a balanced "></i>

                        <p>


                        <h3><b>{{debt.debtor}} </b> owes you</h3>
                        <h4>{{debt.description}} </h4>
                        <h4 style="font-style:italic" class="dark">{{dateFormatter.formatDate(debt.created)}} </h4>
                        </p>

                    </div>
                </ion-item>
                <div class="item item-divider">
                    Resolved Debts
                </div>
                <ion-item ng-repeat="debt in debts.debts  | history:''" ng-click="openDebt(debt.debtId)"
                          class="item-icon-left ">
                    <div ng-if="debt.debtor != user.id && (debt.debtor == currentUser.id || debt.creditor == currentUser.id) ">
                        <i class="icon ion-ios7-upload dark"></i>

                        <p>


                        <h3>You payed <b>{{debt.creditor}} </b></h3>
                        <h4>{{debt.description}} </h4>
                        <h4 style="font-style:italic" class="dark">created:
                            {{dateFormatter.formatDate(debt.created)}} </h4>
                        <h4 style="font-style:italic" class="dark">resolved:
                            {{dateFormatter.formatDate(debt.modified)}} </h4>
                        </p>

                    </div>
                    <div ng-if="debt.debtor == user.id && (debt.debtor == currentUser.id || debt.creditor == currentUser.id)">
                        <i class="icon ion-ios7-download dark "></i>

                        <p>


                        <h3><b>{{debt.debtor}} </b> payed you</h3>
                        <h4>{{debt.description}} </h4>
                        <h4 style="font-style:italic" class="dark">created:
                            {{dateFormatter.formatDate(debt.created)}} </h4>
                        <h4 style="font-style:italic" class="dark">resolved:
                            {{dateFormatter.formatDate(debt.modified)}} </h4>
                        </p>
                    </div>
                </ion-item>
            </ion-list>

            <div ng-if="debts && user && currentUser.id == user.id" class="list card">
                <a class="item item-icon-left item-icon-right" ui-sref="app.debts({userId: user.id})">
                    <!-- TODO pass filter details -->
                    <i class="icon ion-card"></i>
                    <span>My debts </span>
                    <i class="icon ion-chevron-right icon-accessory"></i></a>
            </div>

            <button ng-show="user.facebookAccount && user.id == currentUser.id" class="button button-block button-positive"
                    ng-click="addFacebookFriends()">
                <i class="icon ion-social-facebook">
                </i>
                &nbsp Add facebook friends
            </button>

            <button ng-show="user.googleAccount && user.id == currentUser.id" class="button button-block button-assertive" ng-click="addGoogleFriends()">
                <i class="icon ion-social-googleplus">
                </i>
                &nbsp Add Google+ Friends
            </button>
        </div>

        <div ng-show="isEditing && isEditingPassword">
            <form name="editUserForm">
            <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="password" ng-model="editedUser.password" placeholder="Set new password.." required>
                    </label>
                    <button ng-class="{disabled: editUserForm.$invalid}"  class="button button-small" ng-click="changePassword(editedUser.password)">
                        Submit
                    </button>
            </div>
            </form>
        </div>

        <button ng-show="!isEditing && user.id == currentUser.id" class="button button-block button-stable"
                ng-click="editPassword()">
            <i class="icon ion-edit">
            </i>
            &nbsp Change password
        </button>

        <button ng-show="isEditing" class="button button-block button-stable"
                ng-click="cancelEdit()">
            </i>
            Cancel
        </button>
    </ion-content>
</ion-view>